.wrapper {
  box-sizing: border-box;
  width: 400px;
  margin: 10px 0;
  border: 2px solid rgb(64, 65, 64);
  border-radius: 4px;

  padding: 10px;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 24px 0;
  text-align: center;
}

.input {
  width: 95%;
  height: 24px;
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
}
